// Imports

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/user-interface";
@import "mixins";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

// Vars

$window-content-padding: 7px;

html, body { 
    color: #222222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

.desktop {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    overflow: hidden;
}

.start-menu {
    background: #000; 
    background: rgba(69, 69, 69, 0.8);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #454545;
    z-index: 1000;
    @include user-select(none);
}

.window {
    @include border-radius(3px);
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: #222222;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    position: absolute;
    width: 236px;
    height: 300px;
    .window-content {
        background: rgb(255, 255, 255);
        padding: $window-content-padding;
        width: 220px;
        height: 300px;
        overflow: auto;
        border-left: 1px solid #454545;
        border-right: 1px solid #454545;
        .image-box {
            border: 1px solid #ccc;
            padding: 5px;
            display: block;
            float: left;
            margin: 5px;
            img {
                cursor: pointer;
            }
        }
        .rssFeed {
            font-size: 12px;
            .rss_title {
                filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFBABABA');
                background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, lightgrey));
                background: -webkit-linear-gradient(#ededed, lightgrey);
                background: -moz-linear-gradient(#ededed, lightgrey);
                background: -o-linear-gradient(#ededed, lightgrey);
                background: linear-gradient(#ededed, #d3d3d3);
                -webkit-box-shadow: white 0 1px 0 inset;
                -moz-box-shadow: white 0 1px 0 inset;
                box-shadow: white 0 1px 0 inset;
                border: 1px solid #c7c7c7;
                @include border-radius(3px 3px 0 0);
                text-shadow: white 0 1px 0;
                font-size: 12px;
                font-weight: 700;
                padding: 5px;
            }
            a {
                padding: 5px;
                font-style: italic;
            }
            p {
                padding: 5px;
            }
            img {
                max-width: 100%;
                @include border-radius(3px);
                border: 1px solid #c7c7c7;
            }
        }
    }
}

.window-close {
    border: 1px solid #454545;
    float: right;
    padding: 0 7px 2px 7px;
    @include border-radius(3px);
    a {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #BDBDBD;
        }
    }
}

.window-maximize, .window-restore {
    border: 1px solid #454545;
    float: right;
    padding: 0 7px 2px 7px;
    @include border-radius(3px);
    height: 23px;
    width: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.window-titlebar {
    @include titlebar(3px 3px 0 0);
    @include user-select(none);
    padding: 5px;
    height: 25px;
    .window-text {
        position: relative;
        font-weight: 700;
        margin-left: 5px;
        display: inline-block;
        margin-top: -2px;
        vertical-align: text-top;
    }
}

.window-footer {
    @include titlebar(0 0 3px 3px);
    @include user-select(none);
    padding: 5px;
    height: 25px;
    p {
        font-size: 12px;
    }
}

.window-loading {
    background-image: url("../img/loading.gif");
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.default-background {
    background-image: url("../img/default-background.jpg");
}

.image-viewer-16 {
    background-image: url("../img/app-icons/image-viewer-16.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.image-viewer-32 {
    background-image: url("../img/app-icons/image-viewer-32.png");
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.rss-16 {
    background-image: url("../img/app-icons/rss-16.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.rss-32 {
    background-image: url("../img/app-icons/rss-32.png");
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.memory-16 {
    background-image: url("../img/app-icons/memory-16.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.memory-32 {
    background-image: url("../img/app-icons/memory-32.png");
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.messenger-16 {
    background-image: url("../img/app-icons/messenger-16.png");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.messenger-32 {
    background-image: url("../img/app-icons/messenger-32.png");
    width: 32px;
    height: 32px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

.memory-wrap {
    padding: 10px;
    text-align: center;
}

.mem-col {
    display: inline;
    padding: 10px;
}

messages {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: block;
    width: inherit;
    height: 200px;
    overflow-x: hidden;
    margin-bottom: 20px;
    message {
        display: block;
        width: inherit;
        height: auto;
        margin-bottom: 30px;
        &:before {
            content: "";
            display: block;
            height: 20px;
            filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFBABABA');
            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, lightgrey));
            background: -webkit-linear-gradient(#ededed, lightgrey);
            background: -moz-linear-gradient(#ededed, lightgrey);
            background: -o-linear-gradient(#ededed, lightgrey);
            background: linear-gradient(#ededed, #d3d3d3);
            -webkit-box-shadow: white 0 1px 0 inset;
            -moz-box-shadow: white 0 1px 0 inset;
            box-shadow: white 0 1px 0 inset;
            border: 1px solid #c7c7c7;
            @include border-radius(3px 3px 0 0);
            text-shadow: white 0 1px 0;
            font-size: 12px;
            font-weight: 700;
            padding: 5px;
        }
        id:before {
            content: "#";
        }
        author {

        }

    }
}

textarea {
    -webkit-appearance: none;
    @include border-radius(0);
    background-color: white;
    font-family: inherit;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875em;
    margin: 0 0 1em 0;
    padding: 0.5em;
    height: 12.3125em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    resize: vertical;
    outline: none;
}

.button {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEDEDED', endColorstr='#FFBABABA');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, lightgrey));
    background: -webkit-linear-gradient(#ededed, lightgrey);
    background: -moz-linear-gradient(#ededed, lightgrey);
    background: -o-linear-gradient(#ededed, lightgrey);
    background: linear-gradient(#ededed, #d3d3d3);
    -webkit-box-shadow: white 0 1px 0 inset;
    -moz-box-shadow: white 0 1px 0 inset;
    box-shadow: white 0 1px 0 inset;
    border: 1px solid #c7c7c7;
    @include border-radius(3px);
    text-shadow: white 0 1px 0;
    font-size: 12px;
    font-weight: 700;
    padding: 0.5em 1.5em;
    cursor: pointer;
}

.error {
    font-size: 20px;
    padding: 5px;
    @include border-radius(3px 3px 0 0);
    background-color: #cc3512;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5e3d), color-stop(70%, #cc3512));
    background: -webkit-linear-gradient(#ee5e3d, #cc3512 70%);
    background: -moz-linear-gradient(#ee5e3d, #cc3512 70%);
    background: -o-linear-gradient(#ee5e3d, #cc3512 70%);
    background: -ms-linear-gradient(#ee5e3d, #cc3512 70%);
    background: linear-gradient(#ee5e3d, #cc3512 70%);
    -moz-box-shadow: #f49883 0 1px 0 inset;
    -webkit-box-shadow: #f49883 0 1px 0 inset;
    -o-box-shadow: #f49883 0 1px 0 inset;
    box-shadow: #f49883 0 1px 0 inset;
    border: 1px solid #b52f10;
    color: white;
    text-shadow: #96270d 0 -1px 0;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
